<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <!-- Style Sheet -->
  <link rel="stylesheet" href="main.css">
  <!-- JS -->
  <script defer src="main.js"></script>
</head>
<body>
  <div>
    <h1>URL Shortener</h1>
    <form id="urlform">
      <div>
        <label for="urlraw" id="urlraw-label">Enter Url</label>
        <input type="text" id="urlraw" name="urlraw" placeholder="Enter URL" required>
      </div>
      <div>
        <p>https://<%=host%>/shorten/<span id="rid">&#x3c;rid&#x3e;</span></p>
        <button type="button" id="copy">copy</button>
      </div>
      <!-- set expiraton date in minutes -->
      <div id="slider-container">
        <label for="slider" id="slider-label">Expiration (mins):</label>
        <div id="slider-inner">
          <input type="range" id="slider" name="expiration" min="5" max="30" value="1">
          <span id="time">5</span>
        </div>
      </div>
      <button id="sbutton" type="submit">Shorten!</button>
    </form>
  </div>
</body>
</html>
